/*** Variables and mixins ***/
/* line 11, ../sass/_base.scss */
html, body {
  max-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff3e7;
}

/* line 18, ../sass/_base.scss */
a img {
  max-width: 100%;
}

/* line 22, ../sass/_base.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 27, ../sass/_base.scss */
.wrapper {
  color: #6e6566;
  height: 100%;
}

/* line 35, ../sass/_base.scss */
#conferene-info {
  width: 43%;
  height: 300px;
  padding-top: 10px;
}
/* line 40, ../sass/_base.scss */
#conferene-info p {
  line-height: 1.2em;
  margin-bottom: 10px;
  font-size: 0.9em;
}

/* line 47, ../sass/_base.scss */
.page-content {
  margin: 20px 0 0 0;
  position: relative;
}

/* line 52, ../sass/_base.scss */
.page-title {
  color: #aaa;
  margin: 25px 0 25px 0;
}

/* line 57, ../sass/_base.scss */
.page-info {
  width: 100%;
}
/* line 60, ../sass/_base.scss */
.page-info p {
  line-height: 1.2em;
}

/* line 66, ../sass/_base.scss */
.ag-wrapper {
  z-index: 1;
  position: relative;
  overflow: hidden;
  	/*&:after {
  	z-index: -1;
  	background-size: cover;
  	-webkit-background-size: cover;
  	content:  url(../img/newyork/Olympus-Classroom.JPG);
  	position: absolute;
  	left:0;
  	top:0;
  	opacity: 0.4;
  	overflow: hidden;
  	max-width: 100%;
  
  
  
  	}*/
}

/* line 92, ../sass/_base.scss */
.registerSlide {
  position: absolute;
  top: 45%;
  background: #28bdbc;
  padding: 10px;
  left: 35%;
  z-index: 9999;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* line 105, ../sass/_base.scss */
.lo-wrapper {
  z-index: 1;
  position: relative;
  overflow: hidden;
  /*&:after {
	z-index: -1;
	background-size: cover;
	-webkit-background-size: cover;
	content:  url(../img/sf/sf_city.jpg);
	position: absolute;
	left:0;
	top:-41%;
	opacity: 0.4;
	overflow: hidden;
	max-width: 100%;


 
	}*/
}

/* line 127, ../sass/_base.scss */
#agenda {
  width: 100%;
}
/* line 133, ../sass/_base.scss */
#agenda h2 {
  font-style: italic;
}
/* line 138, ../sass/_base.scss */
#agenda p {
  font-size: 1.3em;
}
/* line 146, ../sass/_base.scss */
#agenda span {
  font-weight: bold;
}

/*** keynote styles ***/
/* line 152, ../sass/_base.scss */
.speaker {
  position: relative;
  height: auto;
  margin-bottom: 100px;
}
/* line 158, ../sass/_base.scss */
.speaker .bio {
  position: absolute;
  width: 65%;
  right: 0;
  top: 0;
}
/* line 165, ../sass/_base.scss */
.speaker .bio h3 {
  margin-bottom: 15px;
}
/* line 169, ../sass/_base.scss */
.speaker .bio p {
  font-size: 0.9em;
  line-height: 1.3em;
}

/* line 177, ../sass/_base.scss */
h2.key-city {
  color: #999;
}

/* line 181, ../sass/_base.scss */
.city {
  border-bottom: 1px solid #aaa;
  height: auto;
  padding-top: 35px;
}
/* line 186, ../sass/_base.scss */
.city:last-child {
  border: none;
}

/* line 192, ../sass/_base.scss */
.location {
  margin: 20px 0 0 10px;
  position: relative;
  padding: 25px;
  width: 43%;
  display: inline-block;
  height: auto;
  	/*&:before {
  		content: "";
    	border: 5px solid #ccc;
    	background: #ccc;
    	position: absolute;
    	width: 96.6%;
    	height: 100%;
      top: -5px;
  
    	z-index: -1;
  	}*/
}
/* line 203, ../sass/_base.scss */
.location p {
  margin: 10px 0 21px 15px;
  float: right;
  font-weight: bold;
}
/* line 211, ../sass/_base.scss */
.location img {
  max-width: 100%;
  width: 150px;
}

/* line 230, ../sass/_base.scss */
a.registerBtnSml {
  color: white;
  background: #28bdbc;
  padding: 7px 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  right: 3%;
  bottom: 0;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 243, ../sass/_base.scss */
a.registerBtnSml:hover {
  background: #1B7F7F;
  cursor: pointer;
}

/* line 251, ../sass/_base.scss */
a.regBtnGen {
  color: white;
  background: #28bdbc;
  text-decoration: none;
  font-weight: bold;
  padding: 7px;
  margin-top: 10px;
}

/* line 260, ../sass/_base.scss */
a.mobileMenu {
  text-align: center;
  border: 2px solid #fff;
  padding: 7px !important;
  left: 50%;
  position: absolute;
  top: 7px;
  visibility: hidden;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  /* line 271, ../sass/_base.scss */
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 997px) {
  /* line 4, ../sass/tablet.scss */
  nav.main-nav {
    height: auto;
  }
  /* line 7, ../sass/tablet.scss */
  nav.main-nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  /* line 14, ../sass/tablet.scss */
  nav.main-nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  /* line 19, ../sass/tablet.scss */
  nav.main-nav li a {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
  /* line 25, ../sass/tablet.scss */
  nav.main-nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }

  /* line 32, ../sass/tablet.scss */
  .header {
    height: auto;
  }
  /* line 34, ../sass/tablet.scss */
  .header #header-right {
    position: relative;
    top: 0;
  }

  /**** Rotating cities // conference info *****/
  /* line 44, ../sass/tablet.scss */
  #rotating-cities {
    position: relative;
    width: 100%;
  }

  /* line 49, ../sass/tablet.scss */
  #conferene-info {
    width: 100% !important;
    height: auto !important;
  }
  /* line 53, ../sass/tablet.scss */
  #conferene-info p {
    margin-bottom: 50px;
  }

  /* line 59, ../sass/tablet.scss */
  .speaker .bio {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
  }

  /* line 66, ../sass/tablet.scss */
  .location {
    display: block;
    width: 95% !important;
    margin: 20px 0 10px 0 !important;
    padding: 25px 0 0 10px !important;
  }

  /* line 68, ../sass/tablet.scss */
  #testimonial-slogan {
    height: auto;
    padding: 33px 15px;
  }
  /* line 72, ../sass/tablet.scss */
  #testimonial-slogan p {
    width: 50%;
  }

  /* line 77, ../sass/tablet.scss */
  ul#company-logos {
    margin: 10px 0 0 0;
  }
  /* line 82, ../sass/tablet.scss */
  ul#company-logos .active:after {
    display: none;
  }

  /* line 89, ../sass/tablet.scss */
  #quotes {
    margin-top: -8.3%;
  }

  /* line 93, ../sass/tablet.scss */
  .owl-next, .owl-prev {
    display: none !important;
  }

  /* line 95, ../sass/tablet.scss */
  .city {
    margin: 10px;
  }
  /* line 100, ../sass/tablet.scss */
  .city .speaker .bio p {
    font-size: 1em;
  }
}
